html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: #292b2c;
  background: none;
  background-size: cover;
}

/******** Homepage Content Begins *********/

/********* Navbar Begins***********/

#navBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); */
  color: gray;
  font-family: "Lora", serif;
  background-color: white;
}

.logo {
  padding: 5px;
}
#logo-img {
  width: 120px;
}

.block-display div {
  margin: 20px 0px 20px 0px;
  display: block;
  font-weight: bold;
}

#nav-list .nav-link {
  color: #999da0;
}
#nav-list a:hover {
  color: #461165;
}
/********* Navbar Ends***********/

.hero {
  background-color: white;
  height: 100vh;
  position: relative;
  color: #461165;
}

.hero .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 20px;
  margin-top: 10px;
  font-family: "Lora", serif;
}

.hero .content h1 {
  font-weight: 700;
}

.hero .content span {
  font-size: 25px;
  max-width: 600px;
  margin: 20px 0 30px;
  color: #6c757d;
  font-style: italic;
}

.imageBack {
  height: 290px;
  width: 270px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.hero .content img {
  border-radius: 50%;
  margin-right: 100px;
  position: absolute;
  top: 30%;
  left: 17.8%;
}

.contentImage {
  margin-right: 120px;
}

.hero * {
  z-index: 10;
}

.object {
  animation: MoveUpDown 1.5s linear infinite;
  position: absolute;
  left: 850px;
  top: 375px;
}

.object img {
  width: 40px;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 30px;
  }
}

/******** Homepage Content Ends *********/

/******* About Me Content Begins ********/
.aboutme {
  text-align: center;
  font-family: "Lora", serif;
}

.aboutme h1,
h2 {
  font-weight: bold;
  color: #461165;
}

.aboutme p {
  padding: 10px 70px 10px 70px;
}

.social {
  margin-bottom: 20px;
}
.social a {
  color: #6c757d;
  padding: 5px;
  border-radius: 10%;
  font-size: 25px;
  margin: 5px;
  cursor: pointer;
}

.social a:hover {
  color: #461165;
  text-decoration: none;
  transform: scale(1.2);
}

.buttonDiv {
  margin: 30px 0px 50px 0px;
}

.resumeButton {
  padding: 8px 25px;
  margin-bottom: 20px;
  border: none;
  background-color: #6c757d;
  border-radius: 5px;
  color: white;
}

.resumeButton:hover {
  text-decoration: none;
  background-color: #461165;
  color: white;
}

.padding {
  padding: 3rem;
}

.card {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #3da5fa;
  border-radius: 0;
}

.card .card-block {
  padding: 1.25rem;
}

h6 {
  font-size: 16px !important;
}

.text-c-green {
  color: #2ed8b6;
}

.m-l-10 {
  margin-left: 10px;
}

.proj-progress-card .progress {
  height: 6px;
  overflow: visible;
  margin-bottom: 10px;
}

.proj-progress-card .progress .progress-bar {
  position: relative;
}

.progress .progress-bar {
  height: 100%;
  color: inherit;
}

.bg-c-red {
  background: #ff5370;
}

.proj-progress-card .progress .progress-bar.bg-c-red:after {
  border: 3px solid #ff5370;
}

.proj-progress-card .progress .progress-bar:after {
  content: "";
  background: #fff;
  position: absolute;
  right: -6px;
  top: -4px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.bg-c-blue {
  background: #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-blue:after {
  border: 3px solid #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-green:after {
  border: 3px solid #2ed8b6;
}

.bg-c-green {
  background: #2ed8b6;
}

.bg-c-yellow {
  background: #ffb64d;
}

.proj-progress-card .progress .progress-bar.bg-c-yellow:after {
  border: 3px solid #ffb64d;
}

.m-b-30 {
  margin-bottom: 30px;
}

.text-c-red {
  color: #ff5370;
}
/******* About Me Content Ends ********/
