body {
  font-size: 16px;
  color: #292b2c;
  background: none;
  background-size: cover;
}

/******** Homepage Content Begins *********/

/********* Navbar Begins***********/

#navBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); */
  color: gray;
  background-color: transparent;
}

.logo {
  padding: 5px;
}
#logo-img {
  width: 120px;
}

.block-display div {
  margin: 50px;
  display: block;
  font-weight: bold;
}

#nav-list .nav-link {
  color: #999da0;
}
#nav-list a:hover {
  color: #461165;
}
/********* Navbar Ends***********/

.hero {
  background-color: white;
  height: 100vh;
  position: relative;
  color: #461165;
}

.hero .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 20px;
  margin-top: 10px;
  font-family: "Lora", serif;
}

.hero .content h1 {
  font-weight: 700;
}

.hero .content span {
  font-size: 25px;
  max-width: 600px;
  margin: 20px 0 30px;
  color: #6c757d;
  font-style: italic;
}

.imageBack {
  height: 290px;
  width: 270px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.hero .content img {
  border-radius: 50%;
  margin-right: 100px;
  position: absolute;
  top: 30%;
  left: 17.8%;
}

.contentImage {
  margin-right: 120px;
}

.hero * {
  z-index: 10;
}

.object {
  animation: MoveUpDown 1.5s linear infinite;
  position: absolute;
  left: 850px;
  top: 375px;
}

.object img {
  width: 40px;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 30px;
  }
}

/******** Homepage Content Ends*********/
