body {
  font-size: 16px;
  color: #292b2c;
  background: none;
  background-size: cover;
}

.hero {
  background: url("../images/hero.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 20px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero .content img {
  border-radius: 50%;
  width: 100;
}

.hero * {
  z-index: 10;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
/********* Navbar Begins***********/

#navBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  padding: 5px;
}
#logo-img {
  width: 120px;
}

.block-display div {
  margin: 30px;
  display: block;
  font-weight: 500;
}

#nav-list a:hover {
  color: #ffbd59;
}

.navbar-default .navbar-toggle {
  border-color: #192841;
}

.navbar-header button,
.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #192841;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #6c757d;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: max-content;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  /* text-decoration: none; */
  display: block;
}

.dropdown a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.show {
  display: block;
}

/********* Navbar Ends***********/
